<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUSION MED</title>
</head>
<body>
    <h1>API LINK</h1>
    <hr>
    <div>
        <h3>Accounts</h3>
        <ul>
            <li><a href="http://https://fusion-med.herokuapp.com/api/accounts/">http://https://fusion-med.herokuapp.com/api/accounts/</a></li>
            <li><a href="http://https://fusion-med.herokuapp.com/api/accounts/doctors/">http://https://fusion-med.herokuapp.com/api/accounts/doctors/</a></li>
            <li><a href="http://https://fusion-med.herokuapp.com/api/accounts/pacients/">http://https://fusion-med.herokuapp.com/api/accounts/pacients/</a></li>
        </ul>
    </div>
    
    <div>
        <h3>Appointments</h3>
        <ul>
            <li><a href="http://https://fusion-med.herokuapp.com/api/appointments/">http://https://fusion-med.herokuapp.com/api/appointments/</a></li>
            <li><a href="http://https://fusion-med.herokuapp.com/api/appointments/appointments/">http://https://fusion-med.herokuapp.com/api/appointments/appointments/</a></li>
            <li><a href="http://https://fusion-med.herokuapp.com/api/appointments/exam_histories/">http://https://fusion-med.herokuapp.com/api/appointments/exam_histories/</a></li>
        </ul>
    </div>
    <br>
    <h1>Admin LINK</h1>
    <hr>
    <div>
        <h3>Admin</h3>
        <ul>
            <li><a href="http://https://fusion-med.herokuapp.com/admin/">http://https://fusion-med.herokuapp.com/admin/</a></li>
        </ul>
    </div>
</body>
</html>