<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUSION-MED</title>
</head>

<body>
    <h1>LINKS</h1>
    <hr>
    <div>
        <div>
            <h3>Landing Page</h3>
            <ul>
                <li><a href="https://fusion-med.herokuapp.com/">https://fusion-med.herokuapp.com/</a></li>
            </ul>
        </div>

        <div>
            <h3>API</h3>
            <ul>
                <li><a href="https://fusion-med.herokuapp.com/api/">https://fusion-med.herokuapp.com/api/</a></li>
            </ul>
        </div>


        <h3>GitHub</h3>
        <ul>
            <li>Frontend: <a
                    href="https://github.com/jessica-tavares/megahack">https://github.com/jessica-tavares/megahack</a>
            </li>
            <li>Bakend: <a
                    href="https://github.com/jaquelineregis/fusion-med-api">https://github.com/jaquelineregis/fusion-med-api</a>
            </li>
        </ul>
    </div>

    <div>
        <h3>Figma</h3>
        <ul>
            <li><a
                    href="https://www.figma.com/proto/spVS6WakS7fTZ0x3Z84p2d/Hack-For-Woman?scaling=min-zoom&node-id=4%3A58">https://www.figma.com/proto/spVS6WakS7fTZ0x3Z84p2d/Hack-For-Woman?scaling=min-zoom&node-id=4%3A58</a>
            </li>
            <li><a
                    href="https://www.figma.com/proto/feXSJgAaHHLjO0RL3UoGvv/HFW-Desktop?node-id=179%3A17&scaling=scale-down">https://www.figma.com/proto/feXSJgAaHHLjO0RL3UoGvv/HFW-Desktop?node-id=179%3A17&scaling=scale-down</a>
            </li>
        </ul>
    </div>

    <div>
        <h3>YouTube</h3>
        <ul>
            <li>Video Pitch: <a href="https://youtu.be/Q601gras9Dc">https://youtu.be/Q601gras9Dc</a></li>
            <li>Video Demo: <a href="https://youtu.be/6M4fj12Drko">https://youtu.be/6M4fj12Drko</a></li>
        </ul>
    </div>

</body>

</html>